@model CarRentalMS.Models.Rent

<h2>Delete Rent</h2>

<h3>Are you sure you want to delete this rental record?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Car ID
        </dt>
        <dd class="col-sm-10">
            @Model.car_id
        </dd>

        <dt class="col-sm-2">
            Plate Number
        </dt>
        <dd class="col-sm-10">
            @Model.car_plate
        </dd>

        <dt class="col-sm-2">
            Customer Name
        </dt>
        <dd class="col-sm-10">
            @Model.customer_name
        </dd>

        <dt class="col-sm-2">
            Customer ID
        </dt>
        <dd class="col-sm-10">
            @Model.customer_id
        </dd>

        <dt class="col-sm-2">
            Rental Date
        </dt>
        <dd class="col-sm-10">
            @Model.car_rental_date.ToShortDateString()
        </dd>

        <dt class="col-sm-2">
            Return Date
        </dt>
        <dd class="col-sm-10">
            @Model.car_return_date.ToShortDateString()  <!-- Optional Return Date -->
        </dd>

        <dt class="col-sm-2">
            Total Cost
        </dt>
        <dd class="col-sm-10">
            @Model.total_cost_rent.ToString("C")  <!-- Format as Currency -->
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="car_id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>